<% content_for(:title) {@post.title} %>

<h1><%= @post.title %></h1>
<div>
  <em><%= "Created by: #{@author.name}" %></em>
  <br/>
  <em><%= "Created at: #{@post.created_at}" %></em>
</div>
<br />
<div>
  <%= @post.body %>
</div>
<br>
<hr>
<h4>Leave a comment:</h4>
<div>
  <%= simple_form_for(@comment) do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.input :body, label: false, placeholder: "Create a new comment..." %>
    <%= f.button :submit, text: "Create Comment" %>
  <% end %>
</div>
<h4>Comments: </h4>
<hr />
<ul>
<%= render @post.comments %>
</ul>